.community-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphics {
  height: 104px;
  width: 335px;
  margin: 10px 0 20px 0;
}

.nick {
  height: 328px;
  width:338px;
}

.vector {
  height: 76px;
  width: 338px;
  margin: 40px 20px;
}

/*desktop*/

@media only screen and (min-width:1000px) and (max-width:2000px) {

  .graphics {
    height: 160px;
    width: 50%;
  }
  
  .nick {
    height: 656px;
    width:50%;
  }
  
  .vector {
    height: 100px;
    width: 30%;
  }

}