.community-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphics {
  height: 104px;
  width: 335px;
  margin: 10px 0 20px 0;
}

.nick {
  height: 328px;
  width:338px;
}

.vector {
  height: 76px;
  width: 338px;
  margin: 40px 20px;
}