@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.global-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.global-header {
  font-family: "Oswald";
  font-size:xx-large;
  position: sticky;
}

.global-header-row-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  width: 60%;
  padding: 10px 5px; 
}

input {
  border: none;
  font-size: large;
}

.row-two-right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:20%;
}

.header-icon {
  height: 25px;
  width: 25px;
}