footer {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 5px;
}

.signup-container {
  display: flex;
  flex-direction:column;
  text-align: left;
  width: 90%;
  align-items: left;
  margin-left: 3%;
}

.footer-sign-up {
  font-weight: 300;
  margin-bottom: 0%;
}

.footer-sign-up-details {
  font-weight: 300;
  font-size: small;
  color: gray;
}

label {
  font-weight: 500;
  font-size: small;
}
#email-signup-email {
  border: 1px solid black;
  width: 90vw;
  font-size: large;
  padding: 10px 5px;
  margin-top: 5px;
}

.signup-submit-btn {
  width: 93vw;
  font-size: large;
  padding: 10px 5px;
  margin-top: 8%;
  background-color: black;
  color: white;
  border-color: black;
}

.disclaimer {
  font-size: x-small;
  color: gray;
  margin-top: 10%;
}

.store-email-texts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.store-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  font-size: small;
  margin-top: 20px;
}

.email-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  font-size: small;
  margin-top: 10px;
}

.texts-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  font-size: small;
  margin: 10px 0 20px 0;
}

.store-icon, .email-icon, .phone-icon {
  height: 20px;
  width: 20px;
}

.help-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.ql-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.extras-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.app-btns-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.apple-app-btn {
  border: 1.5px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px 0 5px;
  height: 32px;
}
.google-play-btn {
  border: 1.5px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px 0 5px;
  height: 32px;
}

.tiny-top-text {
  font-size: xx-small;
  margin-bottom: -18px;
}

.apple-icon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.google-play-icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.social-icons-section-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.ig-icon, .fb-icon, .pin-icon, .twitter-icon {
  height: 30px;
  width: 30px;
  margin: 10px;
}

.social-icons-section-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tik-icon, .yt-icon, .spot-icon {
  height: 30px;
  width: 30px;
  margin: 0 10px 10px 10px;
}

.priv-terms-transp-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: x-small;
  margin-top: 20px;
}
.access-urbn-res-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: x-small;
  margin-top: 5px;
}

.priv-terms-etc-section {
  width: 80%;
  margin-left: 10%;
}

.copyright-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: x-small;
}

