.popular-container {
  width: 100vw;
  margin-bottom: 100px;
}

.img-row {
  display: flex;
  flex-direction: row;
 justify-content: space-around;
}

.corset, .shirt {
  height: 209px;
  width: 139px;
  margin: 10px, 10px, 5px, 10px;
}

.popular-title {
  font-weight: 400;
  margin-left: 10px;
}

.img-column-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 140px;
}

.img-column-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 140px;
}

.img-left-description {
  font-size: small;
}

.img-right-description {
  font-size: small;
}

/*desktop*/

@media only screen and (min-width:1000px) and (max-width:2000px) {

  .popular-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }
  
  .corset, .shirt {
    height: auto;
    width: fit-content;
  }
  
  .popular-title {
    margin-left: 60%;  
    font-size: xx-large;
  }

}