
.womens-landing {
  margin: 20px 0 5px 0;
  height: 275;
  width: 375px;
}

@media only screen and (min-width:400px) and (max-width:1000px) {
  
  .womens-landing {
    height:auto;
    width:100vw;
  }
}

